name: Test coverage

on:
  pull_request:

jobs:

  collect_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: stevenleadbeater/kotlin-kover-action@main
      id: kover-tests
      with:
        coverage-threshold: 80
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Check coverage
      if: ${{(steps.kover-tests.outputs.line-coverage) < 80}}
      shell: bash
      run: exit "Line coverage expected to be > 80 but was ${{steps.kover-tests.outputs.line-coverage}}"